.adoptionPage {
	box-sizing: border-box;
	margin-left: 30px;
	margin-right:30px;
	height: 100%;
}

.adoption{
	display:flex;
	flex-direction: column;
}

header {
	display: block;
}

h1{
	margin-top:10px;
}

h1,h2,h3 {
	text-align: center;
	display: block;
	width: 100%;
}

.registration {
	/* display: none; */
	position: fixed;
	bottom: 0;
	/* right: 15px; */
	border: 3px solid #f1f1f1;
	z-index: 9;
}
.registration-form {
	max-width: 300px;
	padding: 10px;
	background-color: rgb(184, 241, 245);
}
.registration-form input[type=text] {
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}
.registration-form input[type=text]:focus {
	background-color: #ddd;
	outline: none;
}

.registration-form button {
	background-color: #c4c4c4;
	color: black;
	padding: 16px 20px;
	border-radius: 3%;
	cursor: pointer;
	width: 200px;
	height: 20px;
	margin-bottom: 20px;
	margin-left: 45px;
	opacity: 0.8;
}
img {
	width:10vw;
	height:7vw;
}

li {
	list-style: none;
	margin:5px;
}

.dog-list {
	margin: 10px;
	flex-wrap: nowrap;
}

.dog {
	margin: 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
}

div .cat-list {
	float: left;
}

.cat-list {
	margin: 10px;
	flex-wrap: nowrap;
}

.cat {
	margin: 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#registerButton{
	font-size: 1.5em;
	margin-bottom:25px;
}

ul{
	margin:0px;
	padding:0px;
}

#story{
	display:inline-flex;
	max-width: 10vw;
	text-overflow: ellipsis;
}

