.adoptionPage {
	box-sizing: border-box;
	/* display: flex;
	flex-direction:column;  */
	margin: 0px;
}
/* 
.pet-list{
	/* display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items:center; 
} */

header {
	display: block;
}

h1,
h2,
h3 {
	text-align: center;
	display: block;
	width: 100%;
}

.registration {
	/* display: none; */
	position: fixed;
	bottom: 0;
	/* right: 15px; */
	border: 3px solid #f1f1f1;
	z-index: 9;
}
.registration-form {
	max-width: 300px;
	padding: 10px;
	background-color: rgb(184, 241, 245);
}
.registration-form input[type=text] {
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}
.registration-form input[type=text]:focus {
	background-color: #ddd;
	outline: none;
}

.registration-form button {
	background-color: #c4c4c4;
	color: black;
	padding: 16px 20px;
	border-radius: 3%;
	cursor: pointer;
	width: 200px;
	height: 20px;
	margin-bottom: 20px;
	margin-left: 45px;
	opacity: 0.8;
}
img {
	/* height: 200px;
	width: 350px; */
	max-width: 300px;
	max-height: 250px;
}

li {
	list-style: none;
}
/* div .dog-list {
	display: inline; 
	float: left;
} */

.dog-list {
	margin: 10px;
	/* width:100%; */
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	/* flex-direction: row; */
}
.dog {
	margin: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	/* flex-direction: column; */
	/* flex:10%; */
}
div .cat-list {
	/* display: inline; */
	float: left;
}
.cat-list {
	margin: 10px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.cat {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
	margin-bottom: 50px;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
