body {
	background-color: lightblue;
}
.landingPage {
	text-align: center;
	margin-bottom: 3em;
}
.landing-img {
	border-radius: 3%;
	margin-top: 3em;
}
button {
	height: 2.5em;
	border-radius: 10%;
}

#continue {
	margin-top: 40px;
}

h1 {
	margin-top: 50px;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: lightblue;
	}
	.landingPage {
		padding: 10px;
	}
	.landing-img {
		height: 200px;
		width: 250px;
	}
	p {
		padding: 4px;
	}
}

@media only screen and (max-width: 1020px) {
	body {
		background-color: lightblue;
	}
	.landingPage {
		padding: 10px;
	}
	.landing-img {
		height: 200px;
		width: 250px;
	}
}
